/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-08-17, 21:44:13
    Author     : Siusiacz
*/

.color-1{
    background: #854798;
}

.color-1{
    background: #FFFF00;
}

.color-2{
    background: #0078ff;
}

.color-3{
    background: #008000;
}

.color-4{
    background: #FF0000;
}

.color-5{
    background: #800080;
}

.color-6{
    background: #FFA500;
}

.color-7{
    background: #808080;
}

.color-8{
    background: #FFC0CB;
}

/*.color-8{
    background: #50a2a7;
}*/

.color-9{
    background: #d199b6;
}

.color-10{
    background: #bba0ca;
}

.color-11{
    background: #88ccf1;
}

.color-12{
    background: #ffa552;
}

.color-13{
    background: #726da8;
}

.color-14{
    background: #d0cd94;
}

.color-15{
    background: #4381c1;
}

.color-16{
    background: #ffd07b;
}

.color-17{
    background: #ffc15e;
}

.color-18{
    background: #3dccc7;
}

.color-19{
    background: #bb9f06;
}